@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
:root {
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-dark: #1A1525;
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-blue: #705EDC;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
    color: var(--primary-white);
    background-color: var(--primary-dark);
}

body {
    font-family: "Roboto Condensed" sans-serif;
    background-color: var(--primary-dark);
}


/* ****************NAVBAR***************** */



.navbar-img{
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative; 
  top: 6px;
  left: -37px;
}

.navbar {
    z-index: 2;
}


/* -------Menu Links **********************/

nav a.nav-link {
    letter-spacing: 0.6px;
    cursor: pointer;
}

.navbar-nav>li>a {
    margin-right: 15px;
    margin-left: 15px;
    color: var(--primary-white)!important;
    border-top: 3px solid var(--primary-dark)!important;
}

.navbar-brand {
    width: 260px;
    max-width: 17.5rem;
    padding: 0!important;
    height: 4rem;
    margin-left: 5%;;
}
.navbar-brand>span{
  margin-left: 16%;
}

.navbar-nav>li>a:focus {
    border-top: 3px solid var(--primary-blue)!important;
}

.navbar-nav>li>a:hover {
    border-top: 3px solid var(--primary-blue)!important;
}

@media (max-width:768) {
    .navbar-brand {
        width: 7rem;
    }
}

.bg{
  background-color: var(--primary-dark);
}

.adjust{
  margin-right: 2%;
}
/* ****************HEADER***************** */

/* .myclass {
    margin-left: 500px;
} */

.btn {
    cursor: pointer;
}

.outer {
  background-color: var(--primary-dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inner {
  color: var(--primary-white);
  /* margin-right: 21%; */
  /* width: 10rem; */
  position: absolute;
  right: 9%;
  top: 28%;

}

h6{
  color:#676576;
}
.btnclass{
  width: 8rem;
  height: 3rem;
  border-radius: 10%;
  background: var(--primary-blue);
  color: white;
  margin-top: 5%;
}

@media (max-width:768) {
    .inner h1 {
        font-size: 1.5rem !important;
    }
    .type-text {
        font-size: 1.3rem !important;
    }
}


/* *****yped-text ***************/

.type-text {
    font-size: 1.5rem;
    color: var(--primary-white);
}


/* *******header-button*************/

.header-btn {
    border: 1px solid var(--primary-red);
    padding: 10px 12px 12px 12px;
    margin: 2rem;
    cursor: pointer;
    z-index: 2;
}

.home-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 20rem; */
  /* margin-left: 10%; */
  height: 2rem;
  margin-right: 7%;
}

.icon{
  margin-bottom: 2rem;
}

.home_img {
  width: 25%;
    height: 80%;
    position: absolute;
    left: 22%;
    top: 3%;
}

/* ****************ABOUT ME************** */


/* left */

.about-outer {
    display: flex;
    justify-content: space-evenly;
    color: var(--primary-orange);
    background-color: var(--primary-dark);
    height: 39rem;
}
.name{
  display: inline-block;
  position: absolute;
  margin-left:9rem;
  top:1.5rem;
  left: 12px;
  color: white;
}

.about-inner-left {
    width: 55%;
}

.about-inner-left>h1 {
    margin-left: 98px;
    margin-top: 5rem;
    font: normal normal 900 60px/72px Roboto;
    color: white;
}

.about-txt {
    position: relative;
    margin-left: 98px;
    margin-top: 3rem;
    line-break: auto;
    color: white;
}

.about-btns {
    display: flex;
    position: relative;
    left: 6rem;
    top: 1rem;
}

.about-btns button {
    margin-right: 2rem;
}

.about-heading-txt{
  background-color: var(--primary-dark);
}


/* right */

.about-inner-right {
    width: 45%;
}

.about-img {
  display: inline-block;
  width: 20rem;
  height: 28rem;
  position: relative;
  left: 9rem;
  top: 4rem;
}



/* *************SKILLS************************* */

.skill-outer {
    height: 34rem;
    background-color: var(--primary-dark);
    color: var(--primary-orange);
}

.skill {
    height: 59px;
    /* background-color: #363945; */
    border: 1px solid #363945;
    margin-bottom: 1rem;
    width: 20rem;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.skill:hover{
  box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
}
.skills-inner {
    margin-left: 23%;
    margin-top: 3%;
    height: 62%;
    display: flex;
    align-items: center;
}

.sright {
    margin-right: 5%;
}
.skillTxt{
    font-weight: lighter;
    color: #676576;
}

.skill-icon{
  /* color: var(--primary-white); */
  position: absolute;
}

/* ****************PROJECTS********************** */

 .cimg {
  position: relative;
    left: 9%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    width: 30rem;
    height: 25rem;
    cursor: pointer;
}

/* .img-overlay{
  background: rgba(0, 0, 0, 0.5);
} */

.para{
  margin-top: 2rem;
}
.para>div{
  color: #676576;
}

.cbtn{
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  /* background: var(--primary-blue); */
  /* color: white; */
  margin-top: 13%;

}
.diff-btn{
  
}

.btns{
  display: flex;
  align-items: center;
  /* margin-top: 10%; */
  justify-content: space-between;
  width: 21rem;
  height: 7rem;
  position: relative;
}
.cbtn:hover{
  box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
}

.prj-inner{
  display: flex;
}

.left-crsl{
  position: relative;
  left: 11%;
  margin-top: 6%;
  margin-bottom: 8%;
  padding: 3%;
}

.right-crsl{
  position: relative;
  left: 32%;
}


/* ******************EXPERIENCE***************** */

.exp-outer{
    color: var(--primary-orange);
    background-color: var(--primary-dark);
    height: 55rem;
}
.exp-txt{
    position: relative;
    top: -27px;
    color: var(--primary-white);
    font-weight: lighter;
}

.timeline:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:2px;
    top:-20px;
    background:#363945;
    z-index:1;
  }
  .timeline{
    position: relative;
    padding: 50px 0;
}
  
  
  .timeline ul{
    margin:0;
    padding:0 ;
  }
  
  .timeline ul li{
    list-style:none;
    box-sizing:border-box; 
    line-height:normal;
    position:relative;
    width:50%;
    padding: 40px 70px;
  }
  
  .timeline ul li .right_content h2{
    color:rgba(59,112,239,1);
    padding:0px 2px 18px 0px;
  }
  .timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
  }
  
  .timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
  }
  
  .left_content{
    padding-bottom:20px;
  }
  
  .timeline ul li:nth-child(odd):before{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
    background:var(--primary-blue);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    right:-6px;
    top:24px;
    z-index:1;
  }
  
  .timeline ul li:nth-child(even):before{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
   background:var(--primary-blue);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    left: -5px;
    top: 24px;
    z-index: 1;
  }
  

.timeline ul li:nth-child(odd) .left_content {
    position: absolute;
    top: 12px;
    right: -38%;
    margin: 0;
    padding: 8px 16px;
    color: #fff;
    box-shadow: 0 0 0 3px var(--primary-blue);
    border-radius: 18px;
}
  
  .timeline ul li:nth-child(even) .left_content{
    position:absolute;
    top:12px;
    left:-40%;
    margin:0;
    padding:8px 16px;
    
    color:#fff;
    box-shadow:0 0 0 3px var(--primary-blue);
    border-radius:18px;
    
  }
  
  
  @media (max-width: 1000px){
    
    .timeline{
      width:100%;
    }
  }
  
  @media (max-width: 767px){
    .timeline{
      width:100%;
    }
    .timeline:before{
      left:20px;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even){
      width:100%;
      text-align:left;
     padding-left:50px; 
    }
    
    .timeline ul li:nth-child(odd):before
      {
      top:-18px;
      left:16px;
    
    }
    .timeline ul li:nth-child(even):before
    { 
      top:-18px;
      left:16px;
    }
    
      .timeline ul li:nth-child(odd) .left_content,
    .timeline ul li:nth-child(even) .left_content
    {
      top:-30px;
      left:50px;
      right:inherit;
    }
  
    
  }

  /* ************media queries**************** */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 360px) {
  .navbar-light .navbar-toggler{
    margin-right: -40px;
  }
  .navbar-img{
    /* top: 6px;
    right: 61px; */
    left: -60px;
  }
  
  .particles-class{
    display: none;
  }
  .outer{
    height: 37vh;
  }
  .myclass {
    margin-left: 650px;
  }
  .skill-outer{
    margin-top: -1px;
  }
  .skills-inner{
    margin-left:16%;
  }
  .timeline {
    position: relative;
    padding: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .inner{
    top: 73px;
    right: 100px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-img {
    top: 4px;
    left: -34px;
  }
  .name{
    left: -30px;
  }
  .outer {
    height: 88vh;
  }
  .skills-inner {
    margin-left: 23%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1281px) {
  .navbar-img {
    top: 3px;
    left: -4px;
  }
}


/* .page-footer{
  background-color: #0D0D1C;
  width: 100%;
  height: 10vh;
} */




