@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark:rgba(255,255,255,0);
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  font-family: "Roboto Condensed " sans-serif;
}

/* ****************NAVBAR***************** */

/* .navbar-brand{
  width: 260px;
  max-width:17.5rem;
  padding: 0!important;
  height: 4rem;

} */
/* -------Menu Links **********************/
nav a.nav-link{
  letter-spacing: 0.6px;
  cursor: pointer;
}
.navbar-nav>li>a{
  margin-right  : 12px;
  margin-left : 12px;
  color: var(--primary-white)!important;
  border-top:3px solid var(--primary-dark)!important ;
}
.navbar-brand{
  width: 260px;
  max-width:17.5rem;
  padding: 0!important;
  height: 4rem;

}
.navbar-nav > li > a:focus{
  border-top: 3px solid var(--primary-orange)!important;

}
.navbar-nav > li > a:hover{
  border-top: 3px solid var(--primary-orange)!important;
}